@model App_Tickets.Models.Usuario


@{
    ViewBag.Title = "Registro";
}

<h2>Registro de Usuario</h2>

@using (Html.BeginForm())
{

    <div>
        @Html.LabelFor(m => m.Id)
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Id)
    </div>

    <div>
        @Html.LabelFor(m => m.Nombre)
        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nombre)
    </div>

    <div>
        @Html.LabelFor(m => m.PrimerApellido)
        @Html.TextBoxFor(m => m.PrimerApellido, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PrimerApellido)
    </div>

    <div>
        @Html.LabelFor(m => m.SegundoApellido)
        @Html.TextBoxFor(m => m.SegundoApellido, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SegundoApellido)
    </div>

    <div>
        @Html.LabelFor(m => m.Correo)
        @Html.TextBoxFor(m => m.Correo, new { @class = "form-control", type = "email" })
        @Html.ValidationMessageFor(m => m.Correo)
    </div>

    <div>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <div>
        @Html.LabelFor(m => m.Rol)
        @Html.DropDownListFor(m => m.Rol, new SelectList(new[] { "Soporte", "Analista" }), "-- Selecciona un Rol --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Rol)
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Registrar</button>
}
